@import '../../../node_modules/@blueprintjs/core/lib/less/variables.less';

.listItem {
  height: 36px;
  padding: 8px;
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.listItem & {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  .listItem:hover {
    background-color: @light-gray5;
  }
}

@media (prefers-color-scheme: dark) {
  .listItem:hover {
    background-color: @dark-gray5;
  }
}
