.item {
  border-radius: 4px;
  margin: 0;
  padding: 4px;
}

@media (prefers-color-scheme: light) {
  .item:hover {
    background-color: #ebf1f5;
  }
}

@media (prefers-color-scheme: dark) {
  .item:hover {
    background-color: #30404d;
  }
}
