@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css';
@import '../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '../node_modules/@blueprintjs/core/lib/less/variables.less';
@import '../node_modules/@blueprintjs/popover2/lib/css/blueprint-popover2.css';

::-webkit-scrollbar {
  display: none;
}

* {
  outline: none !important;
}

html,
body {
  height: 100vh;
  width: 100vw;
  min-width: 1200px;
  font-family: 'Consolas', 'Lucida Console', monospace;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: @light-gray5;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: @dark-gray5;
  }
}
